
# dynamical headers:
revision.h

# objects:
*.o

# linked:
/clsync
/clsync-debug

# other:
test.c
build
test
test0
test1
test2
.gdbcommands
log*
from/*
to/*
.clsync-list.*
debian/clsync
debian/clsync/*
debian/clsync.debhelper.log
debian/clsync.substvars
debian/files
debian/*.ex
example/rules
testdir
