# dynamical headers:
/revision.h
/compilerflags.h

# complied:
*.o
*.lo
*.la
/gencompilerflags
/clsync
/clsync-debug
/.libs

#debian:
/debian/clsync/
/debian/*clsync*.log
/debian/files
/debian/*.ex
/debian/*.debhelper
/.pc/
/debian/*.substvars
/debian/clsync-dev/
/debian/clsync-doc/
/debian/libclsync-dev/
/debian/libclsync/
/debian/patches/

# other:
test.c
build
test
test0
test1
test2
.gdbcommands
log*
from/
to/
.clsync-list.*
/examples/rules
/examples/testdir/
/examples/*.so
/doc/
*.swp
tmp

# autotools build debris
/.deps/
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h*
/config.log
/config.status
/config.sub
/config.cache
/configure
/depcomp
/examples/Makefile
/examples/Makefile.in
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/pkgconfig/libclsync.pc
/stamp-h1

/debian/autoreconf.after
/debian/autoreconf.before
/autoscan.log
/configure.scan

# coverage test files
/*.gcda
/*.gcno
/*.gcov

