Source: clsync
Section: admin
Priority: optional
Maintainer: Artyom A Anikeev <anikeev@ut.mephi.ru>
Uploaders: Barak A. Pearlmutter <bap@debian.org>, Dmitry Yu Okunev <dyokunev@ut.mephi.ru>
Build-Depends: debhelper-compat (= 12), dh-systemd,
	       libglib2.0-dev (>= 2.0.0),
	       libcgroup-dev, libcap-dev
Standards-Version: 4.3.0
Homepage: http://ut.mephi.ru/oss
Vcs-Git: https://salsa.debian.org/debian/clsync.git
Vcs-Browser: https://salsa.debian.org/debian/clsync

Package: clsync
Recommends: rsync
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: lsb-base, ${shlibs:Depends}, ${misc:Depends}
Description: live sync tool based on inotify, written in GNU C
 Clsync recursively watches for source directory and executes external
 program to sync the changes. Clsync is adapted to use together with rsync.
 This utility is much more lightweight than competitors and supports such
 features as separate queue for big files, regex file filter,
 multi-threading.

Package: libclsync0
Section: libs
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: clsync control socket library
 Clsync recursively watches for source directory and executes external
 program to sync the changes. Clsync is adapted to use together with rsync.
 This utility is much more lightweight than competitors and supports such
 features as separate queue for big files, regex file filter,
 multi-threading.
 .
 This package contains a shared library to control clsync via socket.

Package: libclsync-dev
Section: libdevel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}, libclsync0 (= ${binary:Version})
Description: development files for libclsync
 Clsync recursively watches for source directory and executes external
 program to sync the changes. Clsync is adapted to use together with rsync.
 This utility is much more lightweight than competitors and supports such
 features as separate queue for big files, regex file filter,
 multi-threading.
 .
 This package contains development files for controlling clsync via socket.
