Source: clsync
Section: admin
Priority: optional
Maintainer: Artyom A Anikeev <anikeev@ut.mephi.ru>
Build-Depends: debhelper (>= 8.0.0), libglib2.0-dev (>= 2.0.0)
Standards-Version: 3.9.4
Homepage: http://ut.mephi.ru/oss
Vcs-Git: git://git.mephi.ru/clsync
#Vcs-Browser: http://git.debian.org/?p=collab-maint/clsync.git;a=summary

Package: clsync
Recommends: rsync
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: live sync tool based on inotify, written in GNU C
 Clsync recursively watches for source directory and executes external
 program to sync the changes. Clsync is adapted to use together with rsync.
 This utility is much more lightweight than competitors and supports such
 features as separate queue for big files, regex file filter and
 multi-threading.
